# R files
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/
.Renviron
renv.lock

# Temporary files created by R markdown
*_cache/
*_files/
*.utf8.md
*.knit.md

# Outputs of analyses, data
*.rds
*.rda
*.rdata
*.csv
*.parquet
*.xls
*.xlsx
*.dta
*.zip
*.pdf
*.html
*.png
*.svg
*.jpg
*.jpeg

# Raw data
data-raw/*
!data-raw/README.md
!data-raw/**/README.md

# Generated data
data-out/*.*
!data-out/*.md

# paper files
paper/*.tex
!paper/header.tex
!paper/figures/*.pdf
!paper/figures/*/*.pdf
!paper/figures/*.png
!paper/data/*.rds
!paper/data/*.csv
!paper/tables/*.csv
!paper/figures/*.csv
!paper/figures/*.rds
paper/*.cls
paper/*.bst

# C++
src/*/
src/*
!src/*.cpp
!src/*.h

# General system files, latex files
.DS_Store
*.tmp
*.swp
*.bak
*.gcx
*.aux
*.out
*.axp
*.bbl
*.blg
*.log
*.synctex.gz
*.o
*.so
*.dll
